.marquee {
    width: 80vw;
    height: 70vh;
    overflow: hidden;
}
.marquee_content {
    display: flex;
    list-style: none;
    height: 100%;
    animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-180vw);
    }
}

.marquee_content li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    margin-right: 10vw;
    white-space: nowrap;
    height: 100%;
    flex-shrink: 0;
}

.marquee_content img {
    width: 80%;
    // height: 70%;
}


// @media (min-width: 768px) {
//     .collectionSection {
//         display: hidden;
//         height: 0vh;
//     }
// }
